.auth{
    max-width: 600px;
    margin: 100px auto;
}

.auth > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 100px auto;
    align-items: center;
}

.auth > form > p{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.auth > form > button{
    margin-top: 20px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
}