.lk{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    margin: 50px auto;
    align-items: center;
}

.lk__img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.lk > p{
    display: flex;
    align-items: center;
    gap: 15px;
}

.lk > a ,
.exitButton{
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 10px 20px;
    width: 60%;
    text-align: center;
}

.exitButton{
    position: absolute;
    right: 50px;
    width: 100px!important;
}

.exitButton:hover{
    background: #fff;
    color: #242424;
    transition: color ease-in 0.5s;
    transition: background ease-in 0.5s;
}
