.match,
.match > form,
.matches > ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.match,
.matches{
    max-width: 600px;
    margin: 50px auto;
}

.match > form > p{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.match > form > button,
.match > a,
.list__tour{
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

/* список матчей */

.matches > ul{
    margin-top: 30px;
}

.matches > ul > li{
    list-style: -moz-ethiopic-numeric;
}


/*Bets*/

.bet__h1{
    text-align: center;
}