@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mooli', sans-serif;
    background: #242424;
    color: #fff;
    position: relative;
}

ul, li {list-style: none;}

a {text-decoration: none; color: #fff;}

button {border: none; background: none; color: #fff; cursor: pointer;}
