{% extends 'web/index.html' %}
{% block title %}Добавление комментариев{% endblock %}

{% block content %}
    <section class="match">
      <h2>Add Comment</h2>
      <p>Match: {{ match.first_team.name }} vs {{ match.second_team.name }}</p>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
      <a href="{% url 'match_detail' match.id %}">Back to Match Details</a>
    </section>
{% endblock %}
