{% extends 'web/index.html' %}
{% block title %}Пополнение баланса{% endblock %}

{% block content %}
    <section class="auth">
    <form method="post">
        <h1>Пополнение баланса</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Пополнить</button>
    </form>
    </section>
{% endblock %}
