{% extends 'web/index.html' %}
{% block title %}Auth{% endblock %}

{% block content %}
<section class="auth">
    <form method="post">
        <h2>Авторизация</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
    </section>
{% endblock %}






