{% extends 'web/index.html' %}
{% block title %}Редактировать ставку{% endblock %}

{% block content %}
    <section class="auth">
    <h1 class="bet__h1">Редактировать ставку</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить изменения</button>
    </form>

{% if not bet.is_cancelled and  bet.match.is_active %}
    <form method="post" action="{% url 'cancel_bet' bet.id %}">
        {% csrf_token %}
        <button type="submit">Отменить ставку</button>
    </form>
{% endif %}
</section>
{% endblock %}
