<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <div id="chat-log">
        <!-- Сюда будут выводиться сообщения чата -->
    </div>
    <input id="chat-message-input" type="text" placeholder="Введите сообщение">
    <button id="chat-message-submit">Отправить</button>

    <script>
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/{{ chat_id }}/'
        );

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data.message;
            document.querySelector('#chat-log').innerHTML += '<p>' + message + '</p>';
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // Enter key
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
