
    <h1>Сделать ставку на матч: {{ match.first_team_id.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сделать ставку</button>
    </form>
    <a href="{% url 'match_detail' pk=match.pk %}">Вернуться к деталям матча</a>
</body>
</html>