<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/css/styles.css' %}">
</head>
<body>
            {% block content %}
            {% endblock %}
</body>
</html>