{% extends 'web/index.html' %}
{% block title %}Список матчей{% endblock %}

{% block content %}
    <section class="matches">
    <h1>Список матчей</h1>

    <ul>
        {% for match in matches %}
            <li>
                <a href="{% url 'match_detail' match.id %}">{{ match.first_team.name  }} vs {{ match.second_team.name  }}</a>
            </li>
        {% empty %}
            <li>На данный момент нет активных матчей.</li>
        {% endfor %}

                        <a class="exitButton" href="{% url 'profile'  %}">личный кабинет</a>

    </ul>

    </section>
{% endblock %}
