{% extends 'web/index.html' %}
{% block title %}Детали матча{% endblock %}

{% block content %}
    <section class="match">
    <h1>Детали матча</h1>

    <h2>{{ match.first_team.name}} vs {{ match.second_team.name }}</h2>

    <p>Спорт: {{ match.sport.name }}</p>
    <p>Турнир: {{ match.tournament.name }}</p>
    <p>Результат: {{ match.result }}</p>
    <p>Счет: {{ match.score_1 }} - {{ match.score_2 }}</p>
    <p>Ключ: {{ match.keym }}</p>
    <p>Ставки:</p>
    <ul>
        <li>Коэффициент 1: {{ match.oc1_rate }}</li>
        <li>Коэффициент 2: {{ match.oc2_rate }}</li>
        <li>Коэффициент 3: {{ match.oc3_rate }}</li>
    </ul>
        <a href="{% url 'create_bet' match_id=match.pk %}"> сделать ставку</a>
    <a href="{% url 'match_list' %}">Вернуться к списку матчей</a>
<form method="post" action="{% url 'add_comment' match.id %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Submit Comment</button>
  </form>

 <ul>
    {% for comment in match.commentary_set.all %}
      <li>{{ comment.user.name }} прокоментировал: {{ comment.comment }}</li>
    {% empty %}
      <li>No comments yet.</li>
    {% endfor %}
  </ul>
    </section>
{% endblock %}
