{% extends 'web/index.html' %}
{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <section class="lk">
        <h1>Личный кабинет</h1>

        <p>
            <img class="lk__img" src="{{ request.user.image.url }}">
            Имя: {{ request.user.name }}
        </p>
        <p>Email: {{ request.user.email }}</p>
        <p>Баланс: {{ request.user.balance }}</p>
        <a href="{% url 'tournament_list' %}">список всех турниров</a>
        <a href="{% url 'match_list' %}"> список матчей</a>
        <a href="{% url 'user_bets' %}"> ваши ставки</a>
        <a class="exitButton" href="{% url 'logout' %}">Выход</a>






        <a href="{% url 'add_balance' %}">Пополнить баланс</a>
    </section>

{% endblock %}
