{% extends 'web/index.html' %}
{% block title %}Register{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data"  class="register__form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="file" name="image">
    <button type="submit">Зарегистрироваться</button>
</form>

{% endblock %}
