{% extends 'web/index.html' %}
{% block title %}Детали матча{% endblock %}

{% block content %}
    <section class="match">
    <h1>{{ tournament.name }}</h1>
    <p>Дата создания: {{ tournament.creation_date }}</p>
    <p>Ключ: {{ tournament.keyt }}</p>

    {% for match in tournament.match_set.all %}
            <li class="list__tour">
                <a href="{% url 'match_detail' match.pk %}">{{ match.first_team.name }} vs {{ match.second_team.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- Добавьте другие поля турнира по вашему усмотрению -->

    <!-- Ссылка для возврата к списку турниров -->
    <a href="{% url 'tournament_list' %}">Вернуться к списку турниров</a>
    </section>
{% endblock %}

