{% extends 'web/index.html' %}
{% block title %}Список турниров{% endblock %}

{% block content %}
    <section class="matches">
    <h1>Список турниров</h1>
    <ul>
        {% for tournament in tournaments %}
            <li><a href="{% url 'tournament_detail' tournament.id %}">{{ tournament.name }}</a></li>
        {% endfor %}
        <a class="exitButton" href="{% url 'profile'  %}">личный кабинет</a>

    </ul>

    </section>
{% endblock %}