{% extends 'web/index.html' %}
{% block title %}Мои ставки{% endblock %}

{% block content %}
    <section class="matches">
    <h1>Мои ставки</h1>
    <ul>
        {% for bet in user_bets %}
            <li><a href="{% url 'bet_update' bet.pk %}">Ставка {{ bet.pk }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}