<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <ul>
        {% for user in users %}
            <li><a href="{% url 'user_detail' user_id=user.id %}">{{ user.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
