<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные пользователя</title>
</head>
<body>
    <h1>Данные пользователя</h1>
    <p>Имя пользователя: {{ user.username }}</p>
    <p>Имя: {{ user.first_name }}</p>
    <p>Фамилия: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    <form action="{% url 'start_or_open_chat' user_id=user.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Перейти к диалогу</button>
    </form>


    <!-- Здесь вы можете добавить другие поля, которые вам нужны -->

    <a href="{% url 'user_list' %}">Вернуться к списку пользователей</a>
</body>
</html>
